@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

.dataTable td {
    padding: 5px;
    border: 1px solid #e2e8f0;
    font-size: 14px;
}

.dataTables_scrollBody.loading {
    position: relative;
    opacity: 0.7; /* Opcional: efecto de desvanecimiento */
}

.dataTables_scrollBody.loading::after {
    content: "Cargando más datos...";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
}
